.LangSwitcher {
  position: relative;
}

.Button {
  color: var(--primary-inverted-color);
}

.Dropdown {
  opacity: 0;
  pointer-events: none;

  position: absolute;
  right: -8px;
  top: calc(100% + 20px);
  padding: var(--padding-size-xs) var(--padding-size-s);
  background: var(--bg-inverted-color);

  &.Active {
    opacity: 1;
    pointer-events: unset;
  }
}

.DropdownItem {
  color: var(--primary-inverted-color);
}
